    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        if (typeof jQuery == 'undefined') {
        var e = document.createElement('script');
        e.src = "js/vendor/jquery.min.js";
        e.type='text/javascript';
        document.getElementsByTagName("head")[0].appendChild(e);
        }
    </script>


    <script src="app/js/vendor/LAB.min.js"></script>
    <script src="app/js/main.js"></script>
    <!-- end scripts -->

</body>
</html>
