<div class="container">
    <div id="login-register-forms">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li id="js-login-nav"><a href="#login-tab" data-toggle="tab">Login</a></li>
            <li class="active" id="js-register-nav"><a href="#register-tab" data-toggle="tab">Register</a></li>
            <li id="js-logout-nav"><a href="#" data-toggle="tab">Logout</a></li>
        </ul>