<div id="my-tab-content" class="tab-content">
    <div class="tab-pane" id="login-tab">
        <div class="col-md-6" id="login-form">
            <h2>Login</h2>
            <div class="input-group top-offset">
                <span class="input-group-addon" id="sizing-addon2">Username</span>
                <input type="text" id="login-username" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Password</span>
                <input type="password" id="login-password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2">
            </div>
            <button id="login-button" type="button" class="btn btn-default navbar-btn">Sign in</button>
        </div><!-- /end of login-form> -->
    </div>
|</div>