<div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="register-tab">
        <!-- register form -->
        <div class="col-md-6" id="register-form">
            <h2>Register</h2>
            <div class="input-group top-offset">
                <span class="input-group-addon" id="sizing-addon2">Username</span>
                <input type="text" id="register-username" class="form-control" placeholder="Username" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Password</span>
                <input type="password" id="register-password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2">Retype Password</span>
                <input type="password" id="register-rpt-password" class="form-control" placeholder="Retype Password" aria-describedby="sizing-addon2">
            </div>
            <button id="register-button" type="button" class="btn btn-default navbar-btn">Register</button>
        </div><!-- /end of register-form> -->
    </div>
</div>